body{
    margin:0;
    display:flex;
    justify-content: center;
    height:100vh;
    align-items: center;
    background-color: yellow;
    text-align: center;
    font-family: cursive;
}
.form{
    background-color: white;
    padding:30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0, .3)
}
.score{
    color:green;
    text-align: right;
}
.input{
    display:block;
    box-sizing: border-box;
    width:100%;
    padding:10px;
    border:solid 4px green;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    color:green;
}

.input::placeholder{
    color:lightgrey;
    font-family: cursive;
}
.btn{
    background-color: green;
    color:white;
    border:none;
    display:block;
    width:100%;
    padding:10px;
    font-size: 20px;
    font-family: cursive;
    margin:20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0, .3);
    cursor:pointer;
}
.btn:hover{
    filter:brightness(0.9);
}